# Default sqlite database path
/a12nserver.sqlite3

# npm
/node_modules

# typescript output
/dist

# vim
.*.swp

# nyc
/.nyc_output

# dotenv
/.env

# Testing files for other database
/.env.mysql
/.env.postgres
/.env.sqlite

# RSA keys
/*.key
/*.key.pub

# etc
.DS_Store

# Code formatters
.prettierignore

# Cursor
/.cursor
