<script src="/assets/simplewebauthn-browser.min.js"></script>
<script src="/assets/webauthn.js"></script>

<form>
    <div id="error" class="msg error hidden"></div>

    <fieldset>
        <label>
            <button id="btnBeginRegister">Begin Registration</button>
        </label>
    </fieldset>
</form>
