.statsTray {
  display: flex;
  gap: 10px;
  padding: 0;
  flex-wrap: wrap;
}

.statsBlock {
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
}

.statsBlock p {
  margin: 0;
  padding: 5px;
}

.statsBlock .counter {
  display: flex;
  align-items: center;
}

.statsBlock .counter .num {
  font-size: 300%;
  padding-right: 10px;
}

.statsBlock .actions {
  padding: 10px 0 0 0;
  text-align: right;
}
.oauth2 {
  background: url('/assets/image/oauth.svg') no-repeat 0 center;
  background-size: 1em;
  padding-left: calc(1em + 5px);
}

.oidc {
  background: url('/assets/image/oidc.svg') no-repeat 0 center;
  background-size: 1em;
  padding-left: calc(1em + 5px);
}
