body {
  background: #ECEFF1;
  font-family: "Montserrat";
}

.material-icons {
  vertical-align: middle;
}

header {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  color: #1e88e5;
  position: relative;
}

header h1 {
  max-width: 14em;
  margin: 0 auto;
}

form {
  font-size: 18px;
  margin: 2em auto;
  padding: 0;
  border-radius: .5ex;
  background: white;
  max-width: 35em;
  box-shadow: 0 1ex 7em -3ex #b0c4d5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}


input, button, select {
  font: inherit;
}

form fieldset {
  border:none;
  padding: 2em 4rem;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form fieldset:first-child {
  margin-top: 3rem;
}

form label {
  --box-shadow-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 0 0 2px var(--box-shadow-color);
  border-radius: 2em;
  padding: .25rem 1rem;
  overflow: hidden;
  gap: 1em;
  transition: box-shadow .2s linear;
}

form label > span:first-child {
  color: var(--divider-color);
  font-weight: bold;
}

form label:focus-within {
 --box-shadow-color: #b9b9b9;
}

form label:focus-within span:first-child {
  color: var(--secondary-text-color);
}

form fieldset:last-of-type {
  flex-direction: row-reverse;
}

form fieldset:last-of-type label {
  /*! min-width: 6em; */
  padding: 0;
} 

form fieldset:not(:last-of-type) label:not(:last-child) {
  margin-bottom: 1rem;
}


form fieldset.radiogroup label:not(:last-child) {
  margin-bottom: 1em;
}

form input:not([type='checkbox']):not([type='radio']),
form button,
form select {
  min-height: 3em;
  line-height: 3;
  padding: 0;
  border-radius: .25ex;
  flex: 1 1 auto;
}

form input,
form select {
  background: transparent;
  border-style: none;
  text-indent: 1ex;
  color: #b9b9b9;
  font-weight: bold;
}

form input::autofill,
form input:-internal-autofill-selected {
  background:white;
}

form input:hover {
  border-color: #8c8c8c;
}

form input:focus {
  outline-color: transparent;
  border-color: #1E88E5;
}

form input:invalid {
  box-shadow: none;
  outline: none;
  outline-color: transparent;
  border-color: transparent;
}

form input + .feedback.invalid {
  opacity: 0;
  color: #F44336;
  transition: opacity .5s;
}

form input:invalid:not(:empty) + .feedback.invalid {
  opacity: .5;
}
form input:invalid:hover:not(:empty) + .feedback.invalid,
form input:invalid:focus + .feedback.invalid {
  opacity: 1;
}

form input:invalid:focus + .feedback.invalid {
  transition-delay: 1s;
}

form input[type=checkbox],
form input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 2ex;
  height: 2ex;
  cursor: pointer;
  border: 2px solid #ccc;
}

form input[type=checkbox] {
  border-radius: .2ex;
  border-radius: .2ex;
  margin: 1rem .25rem;
}

form input[type=radio] {
  border-radius: 50%;
}

form input[type=checkbox]:checked,
form input[type=radio]:checked {
  background:#1e88e5;
  border-color:#1e88e5 !important;
  box-shadow: inset 0 0 0 3px white;
}

form input[type=checkbox]:focus,
form input[type=radio]:focus {
  border-color: #1e88e5
}


form input[type=checkbox]:hover:not(:focus),
form input[type=radio]:hover:not(:focus) {
  border-color: #8c8c8c;
}

form select:focus {
  border-color: #1e88e5;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

form button {
  border: none;
  background: var(--dark-primary-color);
  color: white;
  cursor: pointer;
  transition: transform .15s;
  padding: 0 1.5rem;
  font-weight: bold;
}

form:not(:invalid) button:hover {
  background-color: var(--default-primary-color);
}

form:invalid button[type=submit] {
  background-color: var(--divider-color);
  transform: none;
  pointer-events: none;
}

.msg {
  padding: 1em 2em;
  margin: 2em 5em;
  position: relative;
  text-indent: -2.6ex;
  max-width: ;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.3rem;
}

.msg.info {
  border: 2px solid var(--default-primary-color);
  color: var(--dark-primary-color);
}

.msg.error {
  border: 2px solid #F44336;
  color: #F44336;  
  /*! background: #f4433624; */
}
.msg span {
  margin-left: 1em;
}

input.totp {
  font-family: monospace;
}

.checkbox,
.radio {
  flex-direction: row;
}

.checkbox :nth-child(1),
.radio :nth-child(1) {
  order: 2;
}
.checkbox :nth-child(2),
.radio :nth-child(2) {
  order: 1;
}

.checkbox input,
.radio input  {
  margin: 0 1ex 0 0;
}

.checkbox span,
.radio span {
  cursor: pointer;
}

form a, form a:visited, form a:visited:hover {
  color: #1e88e5;
  text-decoration-color: #1e88e5;
  text-decoration-color: transparent;
  
}

form a:hover {
  text-decoration-color: var(--default-primary-color);
}

fieldset:last-of-type p {
  text-align: start;
  flex: 1;
  align-self: center;
  justify-content: space-evenly;
  display: flex;
}

.hidden {
  display: none;
}

.qrcode {
  text-align: center;
}

.qrcode img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qrcode .secret {
  font-family: monospace;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 0.5em;
}