<p>Hi {{ name }},</p>
<p>We received a request to reset your password. Please click the button below to reset your password.</p>
<p><a href="{{ url }}" target='_blank'>Reset Password</a></p>

<p><strong>This link will expire in {{ expiryHours }} hours.</strong></p>

<p>If you didn't make this request, ignore this email.</p>
