{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">

  <label for="password">Current Password</label>
  <input type="password" name="currentPassword" required="required" />

  <label for="password">New Password</label>
  <input type="password" name="newPassword" required="required" />

  <label for="confirmpassword-">Confirm New Password</label>
  <input type="password" name="confirmNewPassword" required="required" />

  <input type="submit" value="Change Password" />

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>