<!DOCTYPE html>
<html>
  <head>
    <title>{{ appName }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/_hal-browser/assets/themes/lfo/main.css" type="text/css" />
    <link rel="stylesheet" href="/assets/form.css" type="text/css" />
  </head>
  <body>

    <header>
      <h1>{{ title }}</h1>
    </header>
    {{{ body }}}
  </body>
</html>
