
<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg">{{ msg }}</div>
  {{/if}}
  <fieldset>
    <label for="username">
      <span>Email</span>
      <input type="email" name="userName" id="username" required placeholder="Enter email address" autocomplete="email" />
    </label>

    <label for="password">
      <span>Password</span>
      <input type="password" name="password" id="password" required="required" placeholder="Enter password" autocomplete="current-password" />
    </label>

    <label for="totp">
      <span>TOTP code  <em>(if set)</em></span>
      <input type="text" name="totp" class="totp" id="totp" placeholder="Enter TOTP code" autocomplete="one-time-code" />
    </label>
  </fieldset>
  <fieldset>
    <label>
      <button type="submit">Login</button>
    </label>
    {{#if registrationEnabled}}
  <p class="login-options">
    <a href="/register">Register</a>
  </p>
  {{/if}}
  </fieldset>

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}
</form>
