{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">

  <label for="username">User</label>
  <input type="text" name="userName" required="required" />

  <label for="password">Password</label>
  <input type="password" name="password" required="required" />

  <label for="totp">TOTP code (if set)</label>
  <input type="text" name="totp" class="totp" placeholder="000000" />

  <input type="submit" value="Login" />

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

  <p class="reset-password">
    <a href="/reset-password">Reset Password</a>
  </p>

  {{#if registrationEnabled}}
  <p class="login-options">
    <a href="/register">Register</a>
  </p>
  {{/if}}
</form>
