{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">

  <label for="username">User</label>
  <input type="text" name="username" required="required" />

  <label for="password">Password</label>
  <input type="password" name="password" required="required" />

  <label for="totp">TOTP code</label>
  <input type="text" name="totp" required="required" />

  <input type="submit" value="Login" />

  {{#each hiddenFields}}
    <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
