<form action="/login" method="post">

  <label for="username">User</label>
  <input type="text" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <label for="totp">TOTP code</label>
  <input type="text" name="totp" />

  <input type="submit" value="Login" />

</form>
