{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">
  <fieldset>
    <label>
      <button type="submit">Logout</button>
    </label>
  </fieldset>
</form>
