<form action="{{ action }}" method="post">
  {{# if msg}}
  <div class="msg">{{ msg }}</div>
  {{/if}}
  <fieldset>
    <label>
      <button type="submit">Logout</button>
    </label>
  </fieldset>
</form>
