{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">

  <label for="nickname">Nickname</label>
  <input type="text" name="nickname" required="required" />

  <label for="emailaddress">Email</label>
  <input type="email" name="emailaddress" required="required" />

  <label for="password">Password</label>
  <input type="password" name="password" required="required" />

  <input type="submit" value="Register" />

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
