<script src="https://unpkg.com/@simplewebauthn/browser@0.6.0/dist/simplewebauthn-browser.min.js"></script>
<script src="/assets/webauthn.js"></script>

<form>
    <div id="success" class="msg info hidden"></div>
    <div id="error" class="msg error hidden"></div>

    <fieldset>
        <label>
            <button id="btnBegin">Begin Registration</button>
            <button id="btnLogin" class="hidden" type="reset">Login</button>
        </label>
    </fieldset>
</form>

