{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}

<form action="{{ action }}" method="post">
  <fieldset>
    <label for="new-password">
      <span>New Password</span>
      <input type="password" name="newPassword" id="new-password" required="required" />
    </label>

    <label for="confirm-password">
      <span>Confirm New Password</span>
      <input type="password" name="confirmNewPassword" id="confirm-password" required="required" />
    </label>
  </fieldset>
  <fieldset>
    <label><button type="submit">Change password</button></label>
  </fieldset>

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
