{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}


  <p>You forgot your password! Don't worry, it happens to the best of us.</p>
  <p>Please enter your email below, and if we have a record of you, we will send you an email that allows you to reset your password!</p>

<form action="{{ action }}" method="post">

  
  <label for="emailAddress">Email</label>
  <input type="email" name="emailAddress" required="required" />

  <input type="submit" value="Reset Password" />

  {{#each hiddenFields}}
  <input type="hidden" name="{{@key}}" value="{{this}}" />
  {{/each}}

</form>
