<form action="{{ action }}" method="post">
{{# if msg}}
<div class="msg">{{ msg }}</div>
{{/if}}
  <fieldset>

    <p>You forgot your password! Don't worry, it happens to the best of us.</p>
    <p>Please enter your email below, and if we have a record of you, we will send you an email that allows you to reset your password!</p>
  
    <label for="emailAddress">
      <span>Email</span>
      <input type="email" name="emailAddress" id="username" required="required" placeholder="Enter email address" />
    </label>

    <fieldset>
      <label><button type="submit">Reset Password</button></label>
    </fieldset>

    {{#each hiddenFields}}
      <input type="hidden" name="{{@key}}" value="{{this}}" />
    {{/each}}

  </fieldset>
</form>