<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", "Ubuntu Sans", "Arial", sans-serif;
    background: #FAFAFA;
    font-weight: 300;
    box-sizing: border-box;
    color:#212121;
  }

  h1, p {
    text-align: center;
  }

  div {
    font-size: 18px;
    margin: 2em auto;
    padding: 0;
    border-radius: .5ex;
    background:white;
    max-width: 25em;
    box-shadow: 0 1ex 7em -3ex#b0c4d5;
    overflow: hidden;
  }

</style>
<body>
  <div>
    {{{body}}}
  </div>
</body>
</html>
